@using Microsoft.AspNetCore.Identity

@model ASP.NET_Uni_Project.Models.Auction

@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    <form asp-action="Buy">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" value="@UserManager.GetUserName(User)" asp-for="Winner" />
        <div class="form-group">
            <input type="submit" value="Buy" class="btn btn-primary" />
        </div>
    </form>
</ul>
