@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Videogame Auction House</h1>
    <p><h2><a class="link-dark" asp-area="" asp-controller="Auction" asp-action="Index">See available auctions.</a></h2></p>
</div>
